@using ContractManagement.Application.ViewModels.Institutions
@model InstitutionViewModel
@{ 
    ViewData["Title"] = "Detail instituce";
}

<h1>@ViewData["Title"]</h1>

<div class="card mt-4">
    <h5 class="card-header">Základní informace</h5>
    <div class="card-body">
        <div class="row margin-bottom">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-6 font-weight-bold">Název:</div>
                    <div class="col-6">@Model.Name</div>
                </div>
            </div>
        </div>
    </div>
</div>
