@using ContractManagement.Application.ViewModels.Contracts
@model ContractViewModel
@{
    ViewData["Title"] = "Detail smlouvy č. " + Model.RegistrationNumber;
}

<h1>@ViewData["Title"]</h1>
<p>ID: @Model.ID</p>